{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Read!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
  {% include "navbar.html" with nav_location=view.location %} {% block main %}
  <h1>Welcome to Read!</h1>

  {% if user.is_authenticated %}

  {% block content %}
  <h1> Your Students</h1>
  {% for student in all_students %}
  <div>
    <div>
      <img class="img-student" src="{{student.student_photo.url}}" alt="student">
    </div>
    {{student.first_name}} {{student.last_name}} {{student.notes}}
  </div>
  {% endfor %} {% endblock content %} {% else %}
  <div><a href="{% url 'readapi:register' %}">Register</a></div>
  <div><a href="{% url 'readapi:login' %}">Login</a></div>
  {% endif %} {% endblock main %}

</body>

</html>