{% extends 'index.html' %}

{% block main %}

{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'readapi:index' %}">Return to the homepage.</a><br /> {% else %}


<div class="container">
    <div class="box">
        <h1 class="title is-2">Register Here!</h1>
        <form id="user_form" method="post" action="{% url 'readapi:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }} {{ profile_form.as_p }}
            <input class="button is-primary is-rounded is-focused" type="submit" value="Register" />
        </form>
    </div>
</div>
{% endif %}

{% endblock main %}