{% extends 'index.html' %}
{% load widget_tweaks %}

{% block main %}

{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'readapi:index' %}">Return to the homepage.</a><br /> {% else %}

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h6 class="title is-4 is-marginless has-text-white">Welcome to</h6>
                    <img src="static/great_transparent.png">
                    <p class="subtitle has-text-white">Please register to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="static/Book.gif" style="width: 140px">
                        </figure>
                            <form id="user_form" method="POST" action="{% url 'readapi:register' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- {{ user_form.as_p }} {{ profile_form.as_p }} -->

                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {% render_field user_form.email class="form-control is-expanded input is-focused" placeholder=user_form.email.label %}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {% render_field user_form.first_name class="form-control is-expanded input is-focused" placeholder=user_form.first_name.label %}
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {% render_field user_form.last_name class="form-control is-expanded input is-focused" placeholder=user_form.last_name.label %}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {% render_field user_form.username class="form-control is-expanded input is-focused" placeholder=user_form.username.label %}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {% render_field user_form.password class="form-control is-expanded input is-focused" placeholder=user_form.password.label %}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded">
                                                    {% render_field profile_form.classroom class="form-control is-expanded input is-focused" placeholder=profile_form.classroom.label %}
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p class="control is-expanded">
                                                    {% render_field profile_form.phone class="form-control is-expanded input is-focused" placeholder=profile_form.phone.label %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="button is-primary is-rounded is-focused" type="submit" value="Register" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endif %}

{% endblock main %}