{% extends 'index.html' %}
{% load widget_tweaks %}

{% block main %}
{% if user.is_authenticated %}



<div class="container">
    <div class="box">
        <h1 class="title is-2 has-text-centered">Add A Student</h1>
    </div>

    <div class="box">
            <form id="student_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ student_form.as_p }} -->

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Teacher</label>
                    </div>

                    <div class="field-body">
                    {% render_field student_form.teacher class="form-control field is-expanded is-primary is-focused" %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Student</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                {% render_field student_form.first_name class="form-control field is-expanded input is-focused" placeholder=student_form.first_name.label %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                {% render_field student_form.last_name class="form-control field is-expanded input is-focused" placeholder=student_form.last_name.label %}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                {% comment %} End of Student Fields {% endcomment %}

                {% comment %} Beginning of Photo Field {% endcomment %}
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Student Photo</label>
                        </div>

                    <div class="field-body">
                        <div class="file has-name is-primary is-expanded">
                            <label class="file-label">
                                <input class="file-input" type="file" name="student_photo">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                            <span class="file-label is-expanded">
                                                Update Photo
                                            </span>
                                    </span>
                                        <span class="file-name is-expanded">
                                            {{s.student_photo}}
                                        </span>
                            </label>
                        </div>
                    </div>
                </div>
                {% comment %} End of Photo Fields {% endcomment %}

                {% comment %} Beginning of Reading Level Fields {% endcomment %}
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Reading Level</label>
                        </div>

                        <div class="field-body">
                            <div class="field">
                                <div class="select is-info is-focused">
                                {% render_field student_form.reading_level class="form-control is-expanded input is-focused" placeholder=student_form.reading_level.label %}
                                </div>
                            </div>
                        </div>
                </div>
                {% comment %} End of Reading Level Fields {% endcomment %}

                {% comment %} Beginning of Skills Fields {% endcomment %}
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Skills</label>
                        </div>

                    <div class="field-body">
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control">
                                <a>{{student_form.skills.1}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.2}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.3}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.4}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.5}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.6}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.7}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.8}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.9}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.10}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.11}}</a>
                            </p>
                            <p class="control">
                                <a>{{student_form.skills.12}}</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% comment %} End of Skills {% endcomment %}

                {% comment %} Beginning of Notes {% endcomment %}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Notes</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <textarea class="textarea is-focused" type="text" placeholder={{student_form.notes}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} End of Notes {% endcomment %}

                {% comment %} Button {% endcomment %}

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label"></label>
                        </div>

                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit" name="submit" value="Save">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endif %}
    {% endblock main %}
