{% extends 'index.html' %}

{% block main %}

<div class="container">
    <div class="box has-background-primary">
        <div class="box has-text-centered">
            <h1 class="title is-2">{{student.first_name}} {{student.last_name}}</h1>
            <a href="{% url 'readapi:edit_student' student.id %}">
                <input class="button is-warning is-rounded is-focused" type="submit" value="Edit Student" />
            </a>
            <a href="{% url 'readapi:delete_student' student.id %}">
                <input class="button is-danger is-rounded is-focused" type="submit" onclick="return confirm('Are you sure you want to delete {{student.first_name}} {{student.last_name}}?')"
                    value="Remove Student" />
            </a>
        </div>

        <body>
            <div class="box">
                {% comment %} <section class="hero is-fullheight is-default is-bold">
                    <div class="hero-head">
                    </div>
                    <div class="hero-body is-paddingless"> {% endcomment %}
                        <div class="container">
                            <div class="columns is-vcentered">
                                <div class="column is-5 has-background-grey-dark">
                                    <figure class="image is-square">
                                        <img src="{{student.student_photo.url}}" alt="Student Photo">
                                    </figure>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <h3>Reading Level: {{student.reading_level}}</h3>
                                        <h3>Skills to focus on:
                                            {% for skill in student.skills %}
                                            <ul>
                                                <li class="skill-list">{{skill}}</li>
                                            </ul>
                                            {% endfor %}
                                        </h3>
                                        <h3 class="student-notes">Teacher Notes:</h3>
                                        <p>{{student.notes}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </body>
    </div>
    <br>
    {% block conference %}
    {% include 'conference/list_conference.html' %}
    {% endblock %}
    {% endblock %}