{% extends 'index.html' %}

{% block main %}
<div class="container">
    <div class="box">
        <div class="container has-text-centered">
            <h2 class="title">{{book.title}}</h2>
            <h4 class="subtitle">By {{book.author}}</h4>
            <a href="{% url 'readapi:edit_book' book.id %}">
                <input class="button is-warning is-rounded is-focused" type="submit" value="Edit Book" />
            </a>
            <a href="{% url 'readapi:delete_book' book.id %}">
                <input class="button is-danger is-rounded is-focused" type="submit" onclick="return confirm('Are you sure you want to delete {{book.title}}?')"
                    value="Delete Book" />
            </a>
        </div>
    </div>

    <body>
        <div class="box">
            <!-- <section class="hero is-fullheight is-default is-bold">
                <div class="hero-head">
                </div>
                <div class="hero-body is-paddingless"> -->
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5 has-background-success">
                        <figure class="image is-square">
                            <img src="{{book.book_photo.url}}" alt="Book Photo">
                        </figure>
                    </div>
                    <div class="column">
                        <div class="content">
                            <h3>Level: {{book.level}}</h3>
                            <h4>Word Count: {{book.word_count}}</h4>
                            <h4>Genre: {{book.genre}}</h4>
                            <h4>Unit: {{book.unit}}</h4>
                            <h4>Notes: {{book.notes}}</h4>
                        </div>
                    </div>
                </div>
                <!-- </div>
                </div>
            </section> -->
            </div>
    </body>
</div>
{% endblock %}