{% extends 'index.html' %}
{% load widget_tweaks %}

{% block main %}
{% if user.is_authenticated %}

<div class="container">
    <div class="box">
        {% if book %}
        <h1 class="title is-2 has-text-centered">Edit {{book.title}}</h1>
        {% endif %}
    </div>

    <div class="box">
            <form id="book_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ book_form.as_p }} -->

                <!-- Beginning of Photo Fields -->
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Book Photo</label>
                        </div>

                    <div class="field-body">
                        <div class="file has-name is-primary is-expanded">
                            <label class="file-label">
                                <input class="file-input" type="file" name="book_photo">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label is-expanded">
                                            Upload Photo
                                        </span>
                                    </span>
                                    <span class="file-name is-expanded">
                                        {{book.book_photo}}
                                    </span>
                            </label>
                        </div>
                    </div>
                </div>
                 <!-- End of Photo Fields -->

                 <!-- Beginning of Book Fields -->
                 <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Title</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                {% render_field book_form.title class="form-control field is-expanded input is-focused" placeholder=book_form.title.label %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End of Book Fields -->

                <!-- Beginning of Author Fields -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Author</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                {% render_field book_form.author class="form-control field is-expanded input is-focused" placeholder=book_form.author.label %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End of Author Fields -->

                <!-- Beginning of Reading Level Fields -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Reading Level</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="select is-info is-focused">
                                {% render_field book_form.level class="form-control is-expanded input is-focused" placeholder=book_form.level.label %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Reading Level Fields -->

                <!-- Beginning of Word Count Fields -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Word Count</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                {% render_field book_form.word_count class="form-control input is-focused" placeholder=book_form.word_count.label %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End of Word Count Fields -->

                <!-- Beginning of Unit Fields -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Unit</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded is-info">
                                {% render_field book_form.unit class="form-control field is-expanded input is-focused" placeholder=book_form.unit.label %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End of Unit Fields -->

                <!-- Beginning of Genre Fields -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Genre</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="select is-info is-focused">
                                {% render_field book_form.genre class="form-control is-expanded input is-focused" placeholder=book_form.genre.label %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Genre Fields -->

                <!-- Beginning of Notes -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Notes</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <textarea class="textarea is-focused" type="text" placeholder={{book_form.notes}}></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Notes -->

                <!-- Button -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"></label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit" name="submit" value="Save">
                                Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% endblock main %}