{% block main %}
{% if user.is_authenticated %}

<div class="container has-text-centered">
  <div class="box">
    <h1 class="title is-2">Your Books</h1>
    <form action="{% url 'readapi:add_book' %}" method="post">
      {% csrf_token %} {{ book_form.as_p }}
      <input class="button is-primary is-rounded is-focused" type="submit" value="Add A Book" />
    </form>
  </div>

  <div class="box">
    <div class="columns is-mobile is-multiline">
      {% for book in search_results %}
      <div class="column is-one-fifth-desktop is-half-mobile is-one-fourth-tablet">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{book.book_photo.url}}" alt="book_photo">
            </figure>
          </div>

          <div class="media-content">
            <p class="title is-5 has-text-centered">
              <a href="{% url 'readapi:book_detail' book.id %}">
                {{book.title}}
              </a>
            </p>
          </div>

          <div class="content has-text-centered">
            {% comment %} <p>Author: {{book.author}}</p> {% endcomment %}
            <p>Level: {{book.level}}</p>
            <p>Genre: {{book.genre}}</p>
            <p>Word Count: {{book.wordcount}}</p>
            <p>Unit: {{book.unit}}</p>
            {% comment %} <p>{{book.notes}}</p> {% endcomment %}
          </div>
          <footer class="card-footer">
            <a href="{% url 'readapi:edit_book' book.id %}" class="card-footer-item">Edit</a>
            <a href="{% url 'readapi:delete_book' book.id %}" class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<div><a href="{% url 'readapi:register' %}">Register</a></div>
<div><a href="{% url 'readapi:login' %}">Login</a></div>
{% endif %}
{% endblock main %}