{% extends 'index.html' %}

{% block main %}
{% if user.is_authenticated %}

<div class="container">
    <div class="box">
        <h1 class="title is-2 has-text-centered">Add Conference Log</h1>
    </div>

    <div class="box">
        <form action="{% url 'readapi:add_conference' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ conference_form.as_p }}

            {% comment %} Button {% endcomment %}
            <div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit" onclick="return confirm('Are you sure?')" name="submit" value="Save" />
                            Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock main %}