{% extends 'index.html' %}

{% block main %}

<div class="container has-text-centered">
    <div class="box">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h2 class="title">Conference Log for {{conference.student.first_name}}
                        {{conference.student.last_name}}</h2>
                    <h4 class="subtitle">Date: {{conference.date}}</h4>
                    <a href="{% url 'readapi:edit_conference' conference.id %}">
                        <input class="button is-warning is-rounded is-focused" type="submit" value="Edit Conference" />
                    </a>

                    <a href="{% url 'readapi:delete_conference' conference.id %}" method="POST">
                        <input class="button is-danger is-rounded is-focused" type="submit" onclick="return confirm('Are you sure you want to delete this conference?')"
                            value="Delete Conference" />
                    </a>
                </div>
            </div>
        </section>
    </div>


    <body>
        <div class="box">
            <!-- <section class="hero is-fullheight is-default is-bold">
                    <div class="hero-head">
                    </div>
                    <div class="hero-body is-paddingless"> -->
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5 has-background-success">
                        <figure class="image is-square">
                            <img src="{{conference.book.book_photo.url}}" alt="Book Photo">
                        </figure>
                    </div>
                    <div class="column">
                        <div class="content">
                            <div class="media-content">
                                <p class="title is-5 has-text-centered">
                                    <a href="{% url 'readapi:book_detail' conference.book.id %}">
                                        {{conference.book.title}}
                                    </a>
                                </p>
                            </div>
                            <h3>Level: {{conference.reading_level}}</h3>
                            <h3>Strategies:</h3>

                            {% for strategy in conference.strategy.all %}

                            <p>{{strategy.name}}</p>
                            {% endfor %}

                            <h3>Observations:</h3>

                            {% for observation in conference.observation.all %}

                            <p>{{observation.name}}</p>
                            {% endfor %}

                            <h3>Comments:</h3>
                            {{conference.comments}}
                        </div>
                    </div>
                </div>
                <!-- </div>
                    </div>
                </section> -->
            </div>
    </body>
</div>

{% endblock %}