{% extends 'index.html' %}
{% load widget_tweaks %}

{% block main %}
{% if user.is_authenticated %}

<div class="container">
    <div class="box">
        <h1 class="title is-2 has-text-centered">Edit Conference Log from {{conference.date}}</h1>
    </div>

    <div class="box">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ conference_form.as_p }} -->

        <!-- Beginning of Student Field -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Select Student</label>
            </div>

             <div class="field-body">
                 <div class="field">
                     <div class="select is-primary is-focused">
                        {% render_field conference_form.student class="form-control is-expanded is-primary is-focused" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Student Field -->

        <!-- Beginning of Book Field -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Select Book</label>
            </div>

             <div class="field-body">
                 <div class="field">
                     <div class="select is-primary is-focused">
                        {% render_field conference_form.book class="form-control is-expanded is-primary is-focused" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Book Field -->

        <!-- Beginning of Strategy Fields -->
        <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Strategies</label>
                </div>

            <div class="field-body">
                <div class="field is-grouped is-grouped-multiline">
                    <p class="control">
                        <a>{{conference_form.strategy.0}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.1}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.2}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.3}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.4}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.5}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.6}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.strategy.7}}</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End of Strategy Fields-->

        <!-- Beginning of Observation Fields -->
        <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Observations</label>
                </div>

            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <a>{{conference_form.observation.0}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.observation.1}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.observation.2}}</a>
                    </p>
                    <p class="control">
                        <a>{{conference_form.observation.3}}</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End of Strategy Fields-->

        <!-- Beginning of Reading Level Field -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Select Reading Level</label>
            </div>

            <div class="field-body">
                <div class="field">
                    <div class="select is-primary is-focused">
                        {% render_field conference_form.reading_level class="form-control is-expanded is-primary is-focused" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Reading Level Field -->

        <!-- Beginning of Comments -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Comments</label>
            </div>

            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded">
                        <textarea class="textarea is-primary is-focused" type="text" placeholder={{conference_form.comments}} ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Comments -->

                <!-- Button -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"></label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit" name="submit" value="Save" />
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock main %}