{% extends 'index.html' %}

{% block main %}
{% if user.is_authenticated %}

<div class="container has-text-centered">
  <div class="box">
    <h1 class="title is-2">Your Conference Logs</h1>
  </div>

  <div class="columns is-mobile is-multiline">
    {% for c in all_conference %}
    <div class="column is-one-fifth-desktop is-half-mobile is-one-fourth-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img src="{{c.book.book_photo.url}}" alt="book_photo">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5 has-text-centered">
              <a href="{% url 'readapi:conference_detail' c.id %}">
            {{c.book.title}}</p></a>
        </div>
        <div class="content has-text-centered">
          <p>{{book.author}}</p>
          <p>{{book.level}}</p>
          <p>{{book.wordcount}}</p>
          <p>{{book.unit}}</p>
          {% comment %} <p>{{book.notes}}</p> {% endcomment %}
        </div>
        {% comment %} <footer class="card-footer">
          <a href="#" class="card-footer-item">Edit</a>
          <a href="#" class="card-footer-item">Delete</a>
        </footer> {% endcomment %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<div><a href="{% url 'readapi:register' %}">Register</a></div>
<div><a href="{% url 'readapi:login' %}">Login</a></div>
{% endif %}
{% endblock main %}
